.MessageHeader__mainContainer{
    width: 98%;
    margin-top: 60px;
}
.MessageHeader__name{
    font-weight: bold;
    color:white;
    margin-left: 5px;
    margin-right: 5px;
}
.MessageHeader__text{
    color:#b9bbbe;
    margin-left: 5px;
    margin-right: 5px;
}