.SingleMessage__Maincontainer{
    width: 97%;
    display: flex;
    margin-top: 10px;
}
.SingleMessage__AvatarContainer{
    width: 70px;
}
.SingleMessage__MessageContainer{
    display: flex;
    flex-direction: column;
}
.SingleMessage__MessageContent{
    color:#dcddde;
}
.SingleMessage__SameAuthorMessageContent {
    width: 97%;
    color:#dcddde
}

.SingleMessage__SameAuthorMessageText {
    margin-left: 70px;
}

