.AppBar{
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    border-bottom: 1px solid red;
    background-color: rgba(54, 57, 63,0.9);
    width: calc(100% -326px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: calc(100% - 310px);

}