.NewMessageInput__MainContainer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NewMessageInput__Input{
    background-color: #5a5c60;
    height: 50px;
    color:white !important;
    border:none;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 10px;
    width: 97%;

}
.NewMessageInput__Input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color:#cbcbcb;
}
