.authContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865F2;
}
.BoxContainer{
    width: 40%;
    height: 57vh;
    background-color: #36393f;
    box-shadow: '0 2px 10px 0 rgb(0 0 0 / 20%)';
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

@media screen and (max-width: 700px) {
    .BoxContainer{
        width: 80%;
        height: 70vh;

        justify-content: space-around;

      
    }
  }
