.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    margin: 0 auto;
}
.label{
    font-weight: 600;
    font-size: 16px;
    color: #b9bbbe;
    text-transform: uppercase;
}
.input{
    flex-grow: 1;
    width: 100%;
    height: 40px;
    background-color: #35393f !important;
    color:#fff;
    border: 1px solid #f3f3f3 !important;
    border-radius:6px ;
    margin: 0;
    padding: 0 ;
    text-align: center;
    font-size: 16px;
}
.input:active , input:hover , input:focus{
    color:#fff;
    border: 1px solid #dcddde;
    background-color: #35393f;
}
input:checked{
    background-color: #35393f;
}