.friend-list-item-container{
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform:none;
    color: black;
    position: relative;
    background: transparent;
}
.username{
    margin-left: 10px;
    font-weight: 700;
    color: #8e9297;
}